{% extends 'navbar.html' %}

{% block nav %}

<h1 class="text-center text-warning p-3">Product Details</h1>
<div class="p-5 m-5 d-flex justify-content-between border shadow rounded " >
    <div>
        <img src="{{product.image.url}}" alt="" width="400px" class="img-fluid">
    </div>
    <div class="p-5">
        <h1 class="mt-3"> {{product.title}} </h1>
        <h2 class="mt-3"> {{product.description}}</h2>
        <h2 class="mt-3">Category : {{product.categories}}</h2>
        <h2 class="mt-3">Price : {{product.price}}</h2>
        <a href="{% url 'addcart' product.id %}" class="btn btn-primary mt-5">
            <i class="fa-solid fa-cart-plus"></i>
            Add To Cart</a>
    </div>
    
</div>

<div class="p-3 m-3 border shadow rounded w-90 bg-light">
    <h3>
        <button class="btn btn-primary ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            User Review
          </button>
    </h3>
    <div class="collapse" id="collapseExample">
        <form action="{% url 'arev' product.id %}" method="post" >
            {%csrf_token%}
            <textarea name="rev" id="" cols="60" rows="10" class="form-control"></textarea>
            <button class="btn btn-success mt-4">Submit</button>
        </form>
    </div>
    {% for i in reviews %}
    <div class="border border-3 mb-3 shadow rounded">
        <h4>
            {{i.review}}
        </h4>
        <span class="flaot-end">
            -  {{i.user}},{{i.date}}
        </span>
    </div>
    {%endfor%}
</div>

{% endblock nav %}
