{% extends 'navbar.html' %}
{% block nav %}

<h1 class="text-light text-center">Products list</h1>
{% for i in products %}
    <!-- <p class="text-light">{{i.title}}</p> -->
    <div class="border border-3 mt-3 shadow rounded row border-dark">
        <div class="col-4">
            <img src="{{i.image.url}}" height="200px" alt="product_image">
        </div>
        <div class="col-8 mt-5 text-dark">
            <h3>{{i.title}}</h3>
            <!-- <h4>{{i.description}}</h4> -->
            <h5>Price: {{i.price}}</h5>
            <a href="{% url 'det' i.id %}" class="btn btn-secondary">More Details</a>
        </div>
      </div>
{% endfor %}

{% endblock nav %}